@import "tailwindcss";

@theme {
  --color-bg-brand: #f7f5f2;
  --color-bg-top: #8c847e;
  --color-bg-bottom: #59534e;
  --color-input-bg: #f1f1f1;
  --color-input-border: #cccbc8;
  --text-mobile: 1rem;
  --text-desktop: 1.5rem;
  --color-main-text: #fff;
  --color-beige-text: #75706b;
  --color-brand-pink: #deb6b2;
  --color-pink-hover: #c8aaa6;
  --color-green-hover: #97b1a6;
  --text-pink-text: #8f8b87;
  --color-nav-bg: #fff;

  --color-bg-green: #97b1a6;
  --color-bg-sand: #c9c5ba;
  --color-home-hover: #7a968a;
  --font-sans: "Figtree", sans-serif;
}

@layer base {
  a,
  button {
    cursor: pointer;
  }
}
